/* The rules for the layout of the page */

/* Use "display: flex", see "Equal Height and Width using Flexbox",
   https://www.w3schools.com/howto/howto_css_equal_height.asp.
   Used to place the menu (<nav>) to the left of the <main> object. */
.middlerow {
  display: flex;
}
.toprow, .bottomrow {
  display: block;
}

/* Responsive image in top and bottom of page */
.pageheader img, .pagefooter img {
  width: 100%;
  height: auto;
  max-width: 40em;
}
  
/* The navigation menu */
/* See also https://www.w3schools.com/css/css_navbar.asp */
.menu {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em; /* Distance between the menu and <main> */
  min-width: 11em;
}
.menu a {
  display: block;
  padding: 0.75em;
}
.menu ul > ul {
  margin-left: 0.7em; /* Indent sub-menu */
}

/* Margins around <main> */
main {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
}

/* Tables of time and price 
   See also https://www.w3schools.com/html/html_tables.asp
*/
.durationpricetable {
  border-collapse: collapse;
}
.durationpricetable tr td {
  padding: 0.5em;
}

/* For layout of a definition list, see for example:
   https://www.the-art-of-web.com/css/format-dl/
   https://clicknathan.com/web-design/styling-html-5-description-lists-formerly-known-as-definition-lists-properly/
*/
dt {
  display: block;
  float: left;
  width: 5em;
  padding: .25em;
  clear: left;
}
dt::after {
  content: ":"
}
dd {
  float: left;
  width: 70%;
  padding: .25em 0;
}
dl::after {content:"";display:table;clear:both;}

/* The picture on the page "Hitta salongen" */
#SalongenUtifran {
  /* Center the image, see https://www.w3schools.com/css/css3_images.asp */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}