/* Import the layout rules from a separate style sheet */
@import "layout.css";


/* Background */
body {
  background-color: rgb(252, 250, 241);
}

/* Remove the default bullets in <ul>, see https://www.w3schools.com/css/css_list.asp */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* The styling of the navigation menu (for layout, see layout.css) */
.menu a {
  border-radius: 5px;  /* Link box with rounded corners */
  text-decoration: none; /* Remove underline on link in the menu */
}
.menu a:hover {
  background-color: rgb(2, 97, 104);
  color: white;
}

/* Headings */
h1, h2, h3, nav {
  font-family: Helvetica, Arial, sans-serif;
}

/* Tables of time and price (for layout, see layout.css) */
.durationpricetable tr {
  border: solid 0.02em rgb(2, 97, 104);
}

/* Units for duration and price
   See also https://www.w3schools.com/cssref/sel_after.asp
   */
.duration::after {
  content: " minuter"
}
.price::after {
  content: " kr"
}

/* The look of a definition list. For layout, see layout.css */
dt {
  font-weight: bold;
}
