@charset "UTF-8";
/*CSS dokument*/

header {background-image: url("pics/head.gif");  height:150px;  background-repeat: no-repeat; 
    margin-left: 150px;}

#wrapper {max-width: 1100px;  margin:0 auto; background-color: #ffffff;}

body {font-size:14px;  font-family:Verdana; background-color: #f5ebcb; }

main {margin-left:15%; margin-right:15%; margin-top:40px; margin-bottom: 20px; }

#contentleft{float:left; width:45%; margin-bottom:20px;}

#contentright {float:right; width:45%; margin-bottom:20px;}

footer {background-image: url(pics/footerEC.gif); height: 50px; background-color: #026168; 
    padding:10px; clear:both; background-repeat: no-repeat;  }

nav {padding-bottom:0.5em; margin-left: 150px; margin-top: 20px;}

nav ul {list-style:none; margin:0; padding:0;}
nav ul li {display:inline; position:relative;}
nav a {text-decoration:none; padding:0.75em; border-radius: 5px;}
nav a:link, nav a:visited {background-color: #026168; color: #000000;}
nav a:hover, nav a:active {background-color: #5F6B6B; color: #000000;}

nav ul li ul {background-color:#000000; border:1px solid #666;
			  position:absolute; top:1.7em; left:0; visibility:hidden;}
nav ul li:hover ul {visibility:visible;}
nav ul li ul li {display:block; width:100%; background-color: #026168; }
nav ul li ul li a {display:block; padding:0.5em;}
nav ul li ul li a:link, nav ul li ul li a:visited {background-color: #008080;}
nav ul li ul li a:hover {background-color:#293B84; color:#FFFFFF;}

img {width:250px; height:auto; margin-left: 10px;}

